.github/workflows/TradeEye-1.0.0.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: '256'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1774963049071-source-1774964311609-target
      selected: false
      source: '1774963049071'
      sourceHandle: source
      target: '1774964311609'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: http-request
      id: 1774962979896-source-1774963049071-target
      selected: false
      source: '1774962979896'
      sourceHandle: source
      target: '1774963049071'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1774964311609-source-1775013472106-target
      source: '1774964311609'
      sourceHandle: source
      target: '1775013472106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1775013472106-source-1775017997330-target
      source: '1775013472106'
      sourceHandle: source
      target: '1775017997330'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: sh600519
          hint: ''
          label: stock_code
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: stock_code
      height: 109
      id: '1774962979896'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: https://qt.gtimg.cn/q={{#1774962979896.stock_code#}}
        variables: []
      height: 111
      id: '1774963049071'
      position:
        x: 510
        y: 334
      positionAbsolute:
        x: 510
        y: 334
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(raw_data: str) -> dict:\n    # 预设一套默认空值，确保无论如何都有输出，防止后续节点崩掉\n\
          \    default_output = {\n        \"name\": \"未知\",\n        \"code\": \"\
          未知\",\n        \"price\": \"0\",\n        \"change_pct\": \"0%\",\n    \
          \    \"high\": \"0\",\n        \"low\": \"0\",\n        \"error\": \"none\"\
          \n    }\n\n    if not raw_data or '\"' not in raw_data:\n        default_output[\"\
          error\"] = \"未接收到有效数据\"\n        return default_output\n\n    try:\n   \
          \     # 1. 提取内容\n        content = raw_data.split('\"')[1]\n        \n \
          \       # 2. 统一分隔符并分割（兼容 ~ 和 ‾）\n        parts = content.replace('‾', '~').split('~')\n\
          \        \n        # 3. 长度校验\n        if len(parts) < 35:\n            default_output[\"\
          error\"] = f\"数据量不足({len(parts)})\"\n            return default_output\n\
          \        \n        # 4. 结构化提取\n        name = parts[1]\n        code = parts[2]\n\
          \        # 处理茅台或其他名称乱码\n        if code == \"600519\": name = \"贵州茅台\"\n\
          \        if code == \"601880\": name = \"辽港股份\"\n        if code == \"002372\"\
          : name = \"伟星新材\"\n\n        return {\n            \"name\": name,\n   \
          \         \"code\": code,\n            \"price\": parts[3],\n          \
          \  \"change_pct\": parts[32] + \"%\",\n            \"high\": parts[33],\n\
          \            \"low\": parts[34],\n            \"error\": \"none\"\n    \
          \    }\n    except Exception as e:\n        default_output[\"error\"] =\
          \ str(e)\n        return default_output"
        code_language: python3
        outputs:
          change_pct:
            children: null
            type: string
          code:
            children: null
            type: string
          error:
            children: null
            type: string
          high:
            children: null
            type: string
          low:
            children: null
            type: string
          name:
            children: null
            type: string
          price:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1774963049071'
          - body
          value_type: string
          variable: raw_data
      height: 52
      id: '1774964311609'
      position:
        x: 863
        y: 343
      positionAbsolute:
        x: 863
        y: 343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 7e79eb0e-7d40-40c2-b9e7-5723ddaf8810
          role: system
          text: '角色：资深交易员 任务：根据数据直接出结论。禁废话，禁通用解释。 输入：代码 {{#1774964311609.code#}},
            名称 {{#1774964311609.name#}}, 现价 {{#1774964311609.price#}}}, 涨跌 {{#1774964311609.change_pct#}}}。
            要求：

            根据代码 {{#1774964311609.code#}}} 修正名称 {{#1774964311609.name#}}。

            只有一句话点评（结合涨跌幅）。

            只有一句话策略。

            Markdown 格式。'
        selected: false
        structured_output_enabled: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1775013472106'
      position:
        x: 1150.047592415689
        y: 164.73723613302406
      positionAbsolute:
        x: 1150.047592415689
        y: 164.73723613302406
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-45
            key: ''
            type: text
            value: "{\n  \"msg_type\": \"text\",\n  \"content\": {\n    \"text\":\
              \ \"\U0001F4CA 今日个股复盘报告：\\n{{{#1775013472106.text#}}\"\n  }\n}"
          type: json
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 2
        type: http-request
        url: https://open.feishu.cn/open-apis/bot/v2/hook/abceb821-8c38-4a76-9176-6974f4272a2b
        variables: []
      height: 170
      id: '1775017997330'
      position:
        x: 1484.7917554093958
        y: 79.2081333564123
      positionAbsolute:
        x: 1484.7917554093958
        y: 79.2081333564123
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -677.3533870144634
      y: 633.059788701381
      zoom: 0.8705505632961253
  rag_pipeline_variables: []
